<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>EAT SOME BURGERS</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Baloo+Thambi" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="jumbotron text-center" style="background-image:url(/img/1200x400_burger.jpg); height: 400px">
	</div>

	{{{ body }}}

	<footer>
		<a href="https://github.com/duncandam86" target="_blank">
			<img id="imageFooter" src="/img/Github.png">
		</a>
		Duncan Hieu Minh Dam
		<a href="https://www.linkedin.com/in/duncan-dam-phd-3196b517/" target="_blank">
			<img id="imageFooter" src="/img/linkedin-icon-png-4.png">
		</a>
	</footer>
</body>

</html>