<div class="container" style="background-color: lightyellow; border-radius: 20px">
  <h1 style="margin-top: 20px">Eat-At-D-Burger!</h1>
  <div class="row">
    <div class="col-6">
      <h3 id='burger'> Available Burgers</h3>
      {{#each burgers}}
      {{#unless this.devoured}}
      <div>
        <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
          <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
        </form>
      </div>
      {{/unless}}
      {{/each}}
    </div>

    <div class="col-6">
      <h3 id='devouredburger'> Devoured Burgers</h3>

      {{#each burgers}}
      {{#if this.devoured}}
      <div class='burgerEaten'>
        <div>
          {{this.burger_name}}
        </div>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>
<br>
<div class="container" style="background-color: lightgreen; border-radius: 20px">
  <div id="addAburger" class="row">
    <h4 style="margin-top: 20px">Add A Burger</h4>
  </div>
  <div class="row">
    <form action="/burgers" method="POST" id="addBurgerForm">
      <div class="form-row">
        <div class="col-8">
          <input type="text" id="inputName" name="burger_name" placeholder="Burger's Name">
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-success addBurgerButton" id="addBurger">Add A Burger</button>
        </div>
      </div>
    </form>
  </div>
</div>

<br>