body {
    background-color:lightgrey;
}

h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 65px;
    margin: 50px;
}

.burgerAvailable {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color:  lightblue;
    border: none;
}


.burgerEaten {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color:lightsalmon;
    width: 100%;
}

h4 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin-left: 10px;
}

.formContainer {
    background-color: orange;
}

#burger{
    text-align: center;
    color: blue
}

#devouredburger{
    text-align: center;
    color: red

}

#addBurgerForm{
    margin-left: 35%;
    margin-bottom: 10px
}

#inputName{
    border-radius: 5px
}

#addAburger{
    margin-left: 40%
}

footer {
    width: 100%;
    line-height: 1;
    padding: 10px 0;
    background-color: grey;
    font-family: 'Baloo Thambi', cursive;
    font-weight: bold;
    text-align: center;
    color: black;
    margin: auto auto 0 auto;
}

#imageFooter{
    max-width: 3%;
}